<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Random_string_generator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="RandomV2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Random_string_generator.Properties.Settings>
            <setting name="Type" serializeAs="String">
                <value>Цифровой</value>
            </setting>
            <setting name="Length" serializeAs="String">
                <value>8</value>
            </setting>
        </Random_string_generator.Properties.Settings>
        <RandomV2.Properties.Settings>
            <setting name="Type" serializeAs="String">
                <value>Цифровой</value>
            </setting>
            <setting name="Length" serializeAs="String">
                <value>10</value>
            </setting>
        </RandomV2.Properties.Settings>
    </userSettings>
</configuration>